@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-weight: bold;
}

.path{
  fill: #ffff;
  fill:rgb(241, 225, 134)
}

.gradient {
  --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

.dots {
 background-image: linear-gradient(#1c7cbb 1px, transparent 1px, transparent calc(100% - 1px),
 #1c7cbb calc(100% - 1px)),
 linear-gradient(90deg, #1c7cbb 1px, transparent 1px, transparent calc(100% - 1px),
 #1c7cbb calc(100% - 1px));
  background-size: 6.666666666666667% 6.25%;
  border: 1px solid #1c7cbb;
    background-position: 15px 0;
}
